@model IEnumerable<Basquete.Models.Jogador>

@{
    ViewData["Title"] = "Estes são os Jogadores Cadastrados no Site!";
}

<br />
<h2>@ViewData["Title"]</h2>
<br />
<p>
    <a class="btn btn-success" asp-action="Cadastrar">Cadastrar novo Jogador</a>
</p>
<br />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Informacoes" asp-route-id="@item.Id">Informações</a> |
                <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
